@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* button  */
#bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 9px;
  background: #ffffff;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #ffffff;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #ffffff;
}

/* scrollbar  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Github Custom scrollbar */

.ghub-custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

.ghub-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 50%, 0.2);
  border-radius: 10px;
}
