@tailwind base;
@tailwind components;
@tailwind utilities;

.project-image-container {
  background-position: top;
  background-size: cover;
  overflow: hidden;
  transition: 5s ease-in-out;
 }

.project-0 {
  /* background-image: url(/images/project-3.png); */
  background-image: url(/images/coming-soon.avif);
}
.project-1 {
  background-image: url(/images/gemini-clone.png);
}
.project-2 {
  background-image: url(/images/project-2.png);
}
.project-3 {
  background-image: url(/images/project-3.png);
}
.custom-container {
  margin: 0 auto;
  max-width: 980px;
  padding: 10px;
}

 

.hero-bg {
  animation: gradientShift 15s ease infinite;
  background: radial-gradient(circle, #0000, #0000, #8000801a, #0000, #0000);
  background-size: 200% 200%;
}
@keyframes gradientShift {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

 